<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsDualHttpBinding>
                <binding name="WSDualHttpBinding_INewsService" />
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/news" binding="wsDualHttpBinding"
                bindingConfiguration="WSDualHttpBinding_INewsService" contract="Services.INewsService"
                name="WSDualHttpBinding_INewsService">
                <identity>
                    <userPrincipalName value="DESKTOP-AR6774D\zaza" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>